{% extends "base.html" %}
{% load static %}
    
{% block page_title %}Sabidinhos - Fórum{% endblock page_title %}

{% block imports %}
    <link href="{% static "css/forum_cards.css" %}" rel="stylesheet">
    <link href="{% static "css/forum_imagenslaterais.css" %}" rel="stylesheet">
    <link href="{% static "css/forum_novotopico.css" %}" rel="stylesheet">
    <link href="{% static "css/footer.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <link href="{% static "css/forum_styles.css" %}" rel="stylesheet">
    <link href="{% static "css/footer.css" %}" rel="stylesheet">

    <style>
        textarea{
            resize: none;
            vertical-align: top;
            width: 100%;
            box-sizing: border-box;
        }
    </style>
    <!--Scripts-->
    <script src="{% static "js/navbar.js" %}" defer></script>

    <!--Google fonts import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--Montserrat font-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--DM Serif Display-->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <!--DM Sans-->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
{% endblock imports %}
    
{% block content %}

    <div id="container">
        <!-- Título principal e botão de ver mais -->
        <div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items:start;">
            <div  style="display: flex; flex-direction: column;">
                <!-- Título da página -->
                <h1 class="txt" id="txt_titulo">Encontre o <span id="span_grupocerto">grupo certo</span> para compartilhar seus <span id="span_interesses">interesses</span></h1>
                    <p class="txt" id="txt_subtitulo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis magna aliquet condimentum. Cras et turpis id eros tincidunt faucibus.</p>
                   
                    <!-- Botão Saber Mais com ícone -->
                    <button id="btn_saibamais">Saber Mais<img src="{% static "img/btn_forum/seta_sabermais.svg" %}" id="icon_btn_saibamais">
                    </button>
                </div> 
                
             <!-- Imagens laterais decorativas -->
                <div id="imagenslaterais"; style="position: absolute; margin-top: 0;">
                    <div id="imagem1">
                        <img src="{% static "img/imagenslateral/imagem1.png" %}">                
                    </div>
                    <div id="imagem2">
                        <img src="{% static "img/imagenslateral/imagem2.png" %}">                
                    </div>
                    <div id="imagem3">
                        <img src="{% static "img/imagenslateral/imagem3.png" %}">                
                    </div>
                    <div id="retangulo"></div>
                </div>
           </div>
    </div>
    
    <!-- Novos tópicos -->

    <section id="novotopico">
            <!-- Caixa para adicionar novo tópico -->
        <div id="card_add">
            <form method="POST">
                {% csrf_token%}
                {{ post_form.as_p }}
                <div style="text-align: right; padding-right: 40px;">
                    <button id="btn_plus" type="submit" name="post_submit">
                        <img src="{% static "img/btn_forum/plus.svg" %}">
                    </button>
                </div>
            </form>
        </div>
        
        <!-- Primeiro tópico/comentário -->
        <ul>  
            <!-- Lista de mensagens no forum, for loop para mostrar todos os posts-->
            {% for post in posts %}
            <li>
                <div class="card_topico" >
                    <h3>{{ post.titulo }}</h3> <!-- Título do tópico -->

                    
                    {% if post.autor == 'Cavalo Anônimo' %}<!-- if/else para por se o dono eh cavalo ou cervo -->
                    <div id="usuario">
                        <div id="cavaloanonimo">
                            <div id="quadradoroxo"></div>  <!--quadrado do perfil-->
                            <img src="{% static "img/cavaloanonimoimg.svg" %}" id="iconcavalo">  <!-- Ícone do usuário Cavalo Anônimo -->
                        </div>              
                    </div>  
                    <div style="display: flex; flex-direction: column;">
                        <h4 id="nome_usuario">Cavalo Anônimo</h4> <!--Nome do usuário-->
                        <p id="horario">{{ post.data_criacao|timesince }} atrás</p> <!-- Tempo desde o post -->
                    </div>
                    {% elif post.autor == 'Cervo Anônimo' %}
                    
                    <div id="usuario">
                        <div id="cervoanonimo">
                            <div id="quadradoamarelo"></div>  <!--quadrado do perfil-->
                            <img src="{% static "img/cervoicon.svg" id="iconcervo" %}">              
                        </div>  
                        <div style="display: flex; flex-direction: column;">
                            <h4 id="nome_usuario">Cervo Anônimo</h4><!--Nome do usuário-->
                            <p id="horario">{{ post.data_criacao|timesince }} atrás</p> <!-- Tempo desde o post -->
                        </div>
                    </div>
                    
                    {% endif %}
                    <!-- Texto do comentário resumido -->
                    <p id="txt_comentario">{{ post.text }}</p>
                    
                    <!-- Botão para expandir o comentário -->
                    <button id="btn_vermais">
                        <p style="color: #D9D9D9;">Ver mais</p> <!--Texto do botão-->
                        <img src="{% static "img/btn_forum/seta_vermais.svg"%} "> <!--Icone do botão-->          
                    </button>
                    <!--Parte inferior do card (Botões e texto)-->
                    <div id="parte_inferior" style="justify-content: space-between;">
                        <div id="acoes" style="justify-content: space-around;">
                            <!--Salvar conteudo-->
                            
                            <!--Adicionar comentario-->
                            <form  method="POST" style="display: flex;">                            
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                {{ comment_form.as_p }}
                                <button id="btn_addcomentario" type="submit" name="comment_submit" style="display: flex;">
                                    <img src="{% static "img/btn_forum/comentario.svg" id="icon_comentario" %}">    
                                    <p>Adicionar comentário</p> 
                                </button>
                            </form>
                        </div>
                        <div>
                            <p id="facacomo">Faça como Capivara Anônima, Falcão Anônimo e outras 20 pessoas e comente sobre <span style="font-family: DM Sans;font-weight: 700;">  Lorem ipsum dolor sit amet</span></p>
                        </div>
                    </div>
                    <!-- Listar comentarios do post com for loop -->
                    <ul>
                        {% for comentario in post.comentarios.all %}
                            <li>
                                <strong>{{ comentario.autor }}</strong><!-- Autor do tópico -->
                                <p>{{ comentario.conteudo }}</p><!-- Conteúdo do tópico -->
                                <p><small>Enviado há {{ comentario.data_criacao|timesince }}</small></p>
                            </li>
                            
                        {% empty %}<!-- Default do tópico vazio -->
                            <li>Vazio...</li>
                 
                        {% endfor %}
                    </ul>
                    
                </div>
            </li>
            {% empty %}
            <li>Vazio...</li>
            {% endfor %}
            
        </ul>
        
        <!--Topicos populares cards-->
        <div id="topicospopulares">
            <h2>Tópicos <span id="span_populares">populares</span></h2>
            <div class="container_flex">
                <div class="card_flex">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p class="txt_topicos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis magna aliquet condimentumt.</p>
            <div class="txt_icon" >
                <img src="{% static "img/btn_forum/comentario.svg" %}">    
                <p class="qnt_pessoas">25 pessoas estão discutindo esse tópico</p>
           </div>
           <div class="txt_icon">
                <img src="{% static "img/btn_forum/relogio.svg" %}" class="icon_tempo">    
                <p class="tempo">Criado à 3 meses</p>
           </div>
        </div>
        <div class="card_flex">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p class="txt_topicos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis magna aliquet condimentumt.</p>
            <div class="txt_icon">
                <img src="{% static "img/btn_forum/comentario.svg" %}">    
                <p class="qnt_pessoas">25 pessoas estão discutindo esse tópico</p>
           </div>
           <div class="txt_icon">
                <img src="{% static "img/btn_forum/relogio.svg" %}" class="icon_tempo">    
                <p class="tempo">Criado à 3 meses</p>
           </div>
        </div>       
        <div class="card_flex">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p class="txt_topicos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis magna aliquet condimentumt.</p>
           <div class="txt_icon">
                <img src="{% static "img/btn_forum/comentario.svg" %}">    
                <p class="qnt_pessoas">25 pessoas estão discutindo esse tópico</p>
           </div>
           <div class="txt_icon">
                <img src="{% static "img/btn_forum/relogio.svg" %}" class="icon_tempo">    
                <p class="tempo">Criado à 3 meses</p>
           </div>
        </div>
    </div>
    </div>
</div>

{% endblock content %}